{{ platform_log_path }} {
  daily
  rotate {{ platform_log_rotate_count | default(14) }}
  compress
  delaycompress
  copytruncate
  missingok
  notifempty
  create 0640 {{ platform_log_owner | default('root') }} {{ platform_log_group | default('adm') }}
}
