BACKUP_DAILY_RETENTION_DAYS={{ backup_daily_retention_days | default(14) }}
BACKUP_MONTHLY_RETENTION_MONTHS={{ backup_monthly_retention_months | default(6) }}
BACKUP_MIN_RESTORE_POINTS={{ backup_min_restore_points | default(3) }}
BACKUP_ENCRYPTION_REQUIRED=true
